.file-input {
    display: none;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .upload-btn {
    background-color: var(--color-primary-dark);
    margin-left: 10px;
  }

  .upload-btn :hover {
    background-color: var(--color-primary);
  }
  
  .progress {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .progress-bar {
    width: 100%;
    margin-right: 10px;
  }
  
  .cancel-upload {
    cursor: pointer;
  }
  