.home {

  &__cover {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    
    &--main {
      background-image: url("/assets/images/fighters-2.jpg");
      height: 700px;
    }

    &--fighters {
      background-image: url("/assets/images/main-3.avif");
      display: block;
      height: 500px;

    }

    &--tournaments {
      background-image: url("/assets/images/tournaments-7.jpg");
      display: block;
      height: 500px;

    }
  }

  &__about {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin: 25px 25px 5px 25px;
    padding: 10px 150px;
    img {
      width: 150px;
      height: 150px;
    }
  }

  &__about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin: 40px 0 40px 0;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    &--accent {
      color: var(--accent-color);
    }
  }

  &__fighters {
    position: relative;
    margin-bottom: 20px;
  }

  &__fighters-title {
    position: absolute;
    z-index: 10;
    padding: 5px 35px 5px 20px;
    border-radius: 3px;
    top: 30px;
  }

  &__tournaments-title {
    position: absolute;
    z-index: 10;
    padding: 5px 20px 5px 35px;
    border-radius: 3px;
    right: 0;
    top: 30px;
  }


}




.robot-parts-cta {
  display: flex;
  justify-content: space-around;
  margin: 25px 100px;
  padding: 10px 0;
}

.part {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.part img {
  width: 180px;
  margin-bottom: 10px;
  padding: 2px;
  background-color: #000;
}

.white-paper {
  display: flex;
  height: 100%;
  margin: 0 25px;
}

.white-paper img {
  width: 75%;
}

.white-paper .text {
  display: flex;
  width: 25%;
  flex-direction: column;
  background-color: var(--background);
  text-align: center;
  justify-content: space-between;
}

.white-paper .header-text {
  margin-top: 50px;
  font-size: 30px;
}

.white-paper .sub-text {
  font-size: 20px;
  color: var(--color-primary);  
  margin-top: 10px;
  padding: 0 15%;
}

.white-paper .sub-text p {
  margin: 0;
}

.white-paper .large-text {
  border-top: 2px solid #666;
  padding: 20px 0;
  font-size: 35px;
  color: #000;
}

.white-paper .learn-more {
  background-color: var(--accent-color);
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}