<div class="conteiner home">
  <div class="home__cover home__cover--main"></div>

  <div class="home__about">
    <img
      src="/assets/images/icon-1.jpg"
      alt="Friendly Robot Head"
    />
    <div class="home__about-text">
      <div>Welcome to Super Smash Bros Ultimate Guides!</div>
      <div class="home__about-text--accent ">
        <div>Discover Fighters</div>
        <div>Create & Manage Tournaments</div>
      </div>
    </div>
    <img src="/assets/images/icon-7.png" alt="Big Eye Head" />
  </div>

  <div class="home__fighters">
    <a routerLink="/fighters" class="home__cover home__cover--fighters"></a>
    <h2 class="home__fighters-title title">FIGHTERS</h2>
  </div>

  <div class="home__fighters">
    <a routerLink="/fighters" class="home__cover home__cover--fighters"></a>
    <h2 class="home__fighters-title title">TOURNAMENTS</h2>
  </div>

  <ul class="robot-parts-cta">
    <li>
      <a
        routerLink="/teams"
        class="part"
      >
        <img
          src="/assets/images/icon-8.png"
          alt="Robot Heads"
        />
        <div>TOURNAMENTS</div>
      </a>
    </li>
    
  </ul>

  
   
  

  <div class="white-paper">
    <img src="/assets/images/main-4.jpg" alt="Robot Apocalyse" />
    <div class="text">
      <div>
        <div class="header-text cta">Do you want to know? </div>
        <div class="sub-text">
          <p>The Latest News</p>
        </div>
      </div>
      <div class="large-text">SUPER SMASH BROS</div>
      <a href="https://www.smashbros.com/en_US/" class="learn-more">Official Site</a>
    </div>
  </div>
</div>
