<div class="fighter-details" *ngIf="fighter">
  <div class="fighter-header">
    <img
      class="fighter-portrait"
      [src]="fighter.images?.portrait"
      [alt]="fighter.name"
    />
    <h1>{{ fighter?.name }}</h1>
  </div>
  <div class="fighter-body">
    <p class="fighter-description">{{ fighter?.description }}</p>
    <div class="fighter-video" *ngIf="fighter.youtube">
      <iframe
        width="560"
        height="315"
        [src]="embedYouTubeVideo(fighter.youtube)"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  
  <div class="fighter-details__button-conteiner">
    <button (click)="goToPrevious()" [disabled]="+fighter.order === 1">
      Back
    </button>
    <button
      (click)="goToNext()"
      [disabled]="fighter.order === fighters[fighters.length - 1].order"
    >
      Next
    </button>
  </div>

  <div *ngIf="!!seriesFighters.length" class="series-conteiner">
    <div class="fighters-h2">
      <p>Other fighters from the</p>
      <div class="fighters-p">
        <span>
          <img
            class="series-icon"
            [src]="fighter?.series?.icon"
            [alt]="fighter?.series?.name"
          />
        </span>
        series
      </div>
    </div>

    <div class="fighters-list">
      <div *ngFor="let fighter of seriesFighters">
        <a
          class="fighter-card"
          routerLink="{{ '/fighter/' + fighter.name.toLowerCase() }}"
        >
          <img
            class="fighter-icon"
            [src]="fighter.images?.icon"
            [alt]="fighter?.name"
          />
          <h3>{{ fighter?.name }}</h3>
        </a>
      </div>
    </div>
  </div>
</div>
