<div class="conteiner fighters" [@leave]>
  <div class="fighters__title">
    <h1 class="title">smash bros
      <span class="title__span title__span--accent">
        Fighters
      </span> 
    </h1>
  </div>
  <div class="filters" *ngIf="fighters.length" [@in]="getFiltersList()">
    <a
      routerLink="/fighters"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="button"
      >All
    </a>
    <a
      class="button"
      routerLink="/fighters"
      routerLinkActive="active"
      *ngFor="let filt of getFiltersList()"
      [queryParams]="{ filter: filt }"
    >
      <img class="img" [src]="getFilterIcon(filt)" [alt]="filt" />
    </a>
  </div>

  <ul class="fighters" *ngIf="fighters.length" [@in]="getFilteredFighters()">
    <li *ngFor="let fighter of getFilteredFighters()">
      <a [routerLink]="['/fighter', fighter.name.toLowerCase()]">
        <bot-fighter-details [fighter]="fighter"></bot-fighter-details>
      </a>
    </li>
  </ul>
</div>
