.fighters {
  padding: 20px;
  &__title {
    display: flex;
    width: 100%;
  }

}

.img {
  width: 60px;
  height: 40px;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0;
}

.filters button {
  width: 100px;
}

.fighters {
  display: flex;
  
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
