<div class="team-list">
  <a
    class="team-card"
    *ngFor="let team of teams"
    [routerLink]="['/team-page', team.id]"
  >
    <div class="member__container">
      <div class="member__image-container">
        <img [src]="showImage(team.image)" alt="Team Image" />
      </div>
      <div class="members">
        <h2>{{ team.name }}</h2>
        <div class="members__icons">
          <div class="member" *ngFor="let member of team.members">
            <img
              [src]="'/assets/profile/' + showIcon(member.icon)"
              alt="{{ member.name }}"
            />
            <span>{{ member.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
