<div class="container">
  <div class="hero">
   
  </div>

  <div class="promoted">
   
    <img
      src="/assets/images/icon-1.jpg"
      alt="Friendly Robot Head"
    />
    <div class="promo-text">
      <div class="promo-main-text">Welcome to Super Smash Bros Ultimate Guides!</div>
      <div class="promo-sub-text cta">
        <div>Discover Fighters</div>
        <div>Create & Manage Tournaments</div>
      </div>
    </div>
    <img src="/assets/images/icon-7.png" alt="Big Eye Head" />
  </div>

  <div class="hero-2"></div>
  <ul class="robot-parts-cta">
    <li>
      <a
        routerLink="/teams"
        class="part"
      >
        <img
          src="/assets/images/icon-8.png"
          alt="Robot Heads"
        />
        <div>TOURNAMENTS</div>
      </a>
    </li>
    <li>
      <a routerLink="/fighters" class="part">
        <img
        src="/assets/images/icon-9.png"
          alt="Robot Arms"
        />
        <div>FIGHTERS</div>
      </a>
    </li>
    
  </ul>

  
   
  

  <div class="white-paper">
    <img src="/assets/images/main-4.jpg" alt="Robot Apocalyse" />
    <div class="text">
      <div>
        <div class="header-text cta">Do you want to know? </div>
        <div class="sub-text">
          <p>The Latest News</p>
        </div>
      </div>
      <div class="large-text">SUPER SMASH BROS</div>
      <a href="https://www.smashbros.com/en_US/" class="learn-more">Official Site</a>
    </div>
  </div>
</div>
